.container {
    margin-top: 3rem;
}

.row {
    margin-bottom: 1.5rem;
}

form {
    text-align: center;
}

.btn,
.btn:disabled:hover {
    background-color: #009688;
    border-color: #009688;
}

.btn:hover {
    background-color: #00796B;
    border-color: #00796B;
}

button {
    margin-left: 1rem;
}

.form-control:focus {
    border-color: #009688;
}

i {
    padding-right: .4rem;
}

h5 {
    color: #CCC;
    text-align: center;
    margin-top: 3rem;
}